* {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    height: 4em;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 8px #c6c4c4;
    box-sizing: border-box;
}

header > a {
    padding:0.1em 0.5em;
    font-size: 3em;
    font-family: Arial, sans-serif;
    color: cadetblue;
    text-decoration: none;
    float: left;
}

#menu {
    list-style-type: none;
}

#menu li {
    float: right;
}

#menu li > a {
    text-decoration: none;
    display: inline-block;
    padding: 1em 2em;
    color: white;
    background-color: cadetblue;
}

#menu a:hover {
    background-color: blue;
}

#user {
    display: inline-block;
}


#dropdown {
    display:none;
    position: absolute;
    background-color: red;
    z-index: 1;
}

#dropdown a {
    color:white;
    padding: 0.8em 1em;
    text-decoration: none;
    display: block;
}

#user:hover #dropdown {
    display: block;
}

#content {
    width: 20%;
    margin: 2em auto;
    text-align: center;
}


#content a {
    padding: 0.8em 1em;
    text-decoration: none;
    color: coral;
    background-color: aliceblue;
}

#content p {
    visibility: hidden;
    padding: 0.8em 1em;
    border-radius: 6px;
    position: absolute;
    color: coral;
    background-color: aliceblue;
    opacity: 0;
    transition: opacity 2s;
    z-index: 1;
}

#content a:hover {
    background-color: aquamarine;
}

#content:hover p{
    visibility: visible;
    opacity: 1;
}








