{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Destinations</title>
    <link rel="stylesheet" href="{% static 'custom.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    {% include 'navbar.html' %}


    <!-- include your code here -->
    <!-- Note that this page should have the search/filter stuff and include all the destinations as cards below that -->
    <div style="justify-content: center;
	display: flex;align-items:center;background:url({% static 'GoldCoast.jpg'%});background-size:100%; height: 600px">
        <div class="container-fluid" >
            <div class="row rounded-pill" style="width: 70%;margin:15%;font-size: 2.5rem;background-color: white;padding:0.5rem 0 0.5rem 0.5rem">
                <div class="col-5">
                    <div class="input-group">
                        <select class="custom-select custom-select-lg border-0" id="inputGroupSelect01">
                            <option selected>STATE</option>
                            <option value="1">NSW</option>
                            <option value="2">QLD</option>
                            <option value="3">SA</option>
                            <option value="4">TAS</option>
                            <option value="5">VIC</option>
                            <option value="6">WA</option>
                        </select>
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group">
                        <select class="custom-select custom-select-lg border-0" id="inputGroupSelect02">
                            <option selected>CITY</option>
                            <option value="1">Sydney</option>
                            <option value="2">Melbourne</option>
                            <option value="3">Brisbane</option>
                            <option value="4">Gold Coast</option>
                        </select>
                    </div>
                </div>
                <div class="col-2" style="justify-content: center;display: flex;align-items:center;">
                    <button style="margin-right: -0.5rem" class="btn btn-outline-success btn-lg btn-block rounded-pill" type="submit">SEARCH</button>
                </div>
            </div>
        </div>
    </div>
    <div class = "mt-5 ml-5 mr-5">
        <div class="container-fluid ">
            <div class="bg-transparent">
                <h1 class="font-weight-bold  " style="font-size: 1rem; color: lightseagreen">
                    STAY AND EAT LIKE A LOCAL</h1>
                <div class="row">
                    <div class="col-8">
                        <p class="font-weight-light" style="font-size: 3rem; color: slategray; line-height: 2rem">Our guides
                        </p>
                    </div>

                    <div class="col-4 text-right">
                        <button type="button" class="btn btn-link" >MORE</button>
                    </div>
                </div>
            </div>
        </div>

    <div class="container-fluid mt-5">
        <div class="row justify-content-between">
            <div class="col-4 ">
                <div class="card rounded-cus">
                    <a class="attraction" style="background-image: url({% static 'Sydney.jpg'%}); display: block" href="{%url 'destination_detail'  %}">
                    </a>

                    <div class="card-body">
                        <p class="font-weight-bold text-center" style="font-size: 1.5rem; line-height: 1rem">Sydney</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card rounded-cus">
                    <div class="attraction" style="background-image: url({% static 'Melbourne.jpg'%});">
                    </div>

                    <div class="card-body">
                        <p class="font-weight-bold text-center" style="font-size: 1.5rem;line-height: 1rem">Melbourne</p>
                    </div>
                </div>
            </div>
            <div class="col-4 ">
                <div class="card rounded-cus">
                    <div class="attraction" style="background-image: url({% static 'Brisbane.jpg'%});">
                    </div>
                    <div class="card-body">
                        <p class="font-weight-bold text-center" style="font-size: 1.5rem;line-height: 1rem">Brisbane</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container shadow-lg my-5">
        {% for city in Destinations %}
            <div class="row border-bottom align-items-center">
                <div class="col-3">
                    <img class="img-fluid" src="{% static 'sydney_recommendation.jpg'%}" alt="">
                </div>
                <div class="col-6 mx-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{city.name}}</h5>
                        <p class="card-text">{{city.description}}</p>
                    </div>
                </div>
                <div class="col-3 my-auto text-center">
                    <h1 class="my-2">rating area</h1>
                    <hr>
                    <a class="btn btn-success my-2" href="{% url 'item_details' name=city.destination_id %}">go to this page</a>
                </div>
            </div>
        {% endfor %}
    </div>


    {% include 'footer.html' %}
    <script src = "../statics/javascript/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>