{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ city.name }}</title>
    <link rel="stylesheet" href="{% static 'custom.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container mb-5">
        <h1>{{ city.name }}</h1>
        <div class="row my-3 ">
            <div class="col-6">
                <img class="img-fluid rounded" src="{% static 'sydney_recommendation.jpg'%}" alt="">
            </div>
            <div class="col-6">
                <div class="text-right mb-5">
                    <button class="btn" id="bookmarkBtn">
                         <svg id="funcBookmark" viewBox="0 0 16 16" class="bi bi-bookmark-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5V2z"/>
                        </svg>
                    </button>
                    <button class="btn" id="likeBtn">
                         <svg id="funcLike" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/>
                        <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                        </svg>
                    </button>
                    <p1 id="likesCount" value="0"></p1>
                    <button class="btn" id="dislikeBtn">
                        <svg id="funcDislike" viewBox="0 0 16 16" class="bi bi-emoji-frown" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
                        <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                        </svg>
                    </button>
                </div>
                <p>{{ city.description }}</p>
            </div>
        </div>
        <div class="row my-3">

        </div>
    </div>
    <div class="container mb-5">

    </div>


    {% include 'footer.html' %}

    <script>
        // {# TODO: Connect like counts to database with user authentication #}
        let likeBtn = document.querySelector('#likeBtn');
        let dislikeBtn= document.querySelector('#dislikeBtn');
        var likeCount = 20;
        var liked = false;
        var disliked = false;
        document.getElementById("likesCount").innerHTML = likeCount;
        document.getElementById("likeBtn").style.color="#a9a9a9";
        document.getElementById("dislikeBtn").style.color="#a9a9a9";
        likeBtn.addEventListener('click',()=>{
            if(disliked||!liked){
                if(disliked){
                    likeCount+=2;
                }
                else{
                    likeCount+=1;
                }
                liked = true;
                disliked=false;

            }
            else if(liked){
                alert("You have already liked this article!")
            }
            document.getElementById("likesCount").innerHTML = likeCount;
             var likeColor= liked?"#008000":"#a9a9a9";
            document.getElementById("likeBtn").style.color=likeColor;
            var disLikeColor= disliked?"#ff0000":"#a9a9a9";
            document.getElementById("dislikeBtn").style.color=disLikeColor;
        });
        dislikeBtn.addEventListener('click',()=>{
             if(liked){
                 if(liked){
                     likeCount-=2;
                 }
                 else{
                     likeCount-=1;
                 }
                disliked = true;
                liked=false;
            }
            else if(disliked){
                alert("You have already disliked this article!")
            }
            document.getElementById("likesCount").innerHTML = likeCount;
             var likeColor= liked?"#008000":"#a9a9a9";
            document.getElementById("likeBtn").style.color=likeColor;
            var disLikeColor= disliked?"#ff0000":"#a9a9a9";
            document.getElementById("dislikeBtn").style.color=disLikeColor;
        });
    </script>
    <script>
        //{# TODO: Connect bookmarking with user authentication #}
        let bookmarkBtn = document.querySelector('#bookmarkBtn');
        var bookmarked = false;
        document.getElementById("bookmarkBtn").style.color="#a9a9a9";
        bookmarkBtn.addEventListener('click',()=>{
            if(bookmarked){
                bookmarked=false;
                document.getElementById("bookmarkBtn").style.color="#a9a9a9";
            }
            else{
                bookmarked=true;
                document.getElementById("bookmarkBtn").style.color="#daa520";
            }
        })
    </script>
    <script src = "../statics/javascript/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>