<footer class="container-fluid shadow-lg">
    <div class="row">
        <div class="col-4">
            <h1 class="display-2 mx-5 p-3" style="color: cadetblue">Austrip</h1>
        </div>
        <div class="col-4">
            <a class="nav-link text-success" href="home.html">Home</a>
            <a class="nav-link text-success" href="./destinations.html">Destination</a>
            <a class="nav-link text-success" href="#">Attraction</a>
            <a class="nav-link text-success" href="#">Restaurant</a>
        </div>
         <div class="col-4"></div>
    </div>
    <div class="row bg-light">
        <p class="mx-auto text-muted">@Copyright</p>
    </div>
</footer>