<footer class="container-fluid shadow-lg">
  <div class="row">
    <div class="col-4">
      <h1 class="display-2 mx-5 p-3" style="color: cadetblue">Auspedition</h1>
    </div>
    <div class="col-4">
      <a class="nav-link text-success" href="{% url 'home' %}">Home</a>
      <a class="nav-link text-success" href="{% url 'destination_list' %}">Destination</a>
      <a class="nav-link text-success" href="{% url 'attraction_list' %}">Attraction</a>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row bg-light">
    <p class="mx-auto text-muted">@Copyright AusPedition_team</p>
  </div>
</footer>