{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'custom.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    {% include 'navbar.html' %}

    <div id="home_background" class="bg-box mb-5">
        <div style="position:absolute; left: 60%; top: 20%; right: 10%;" class="text-white">
            <h4 class="text-monospace">Welcome to Auspedition</h4>
            <h1 class="font-weight-bold" style="font-size: 2rem">We provide you best tourism service in Australia</h1>
            <button type="button" class="btn btn btn-success mt-3 rounded-pill" style="font-size: 1rem">Where do you want
                to go?
            </button>
        </div>
    </div>


    <div class="container-fluid">
        <div class="bg-transparent">
            <h1 class="font-weight-normal text-center mt-5" style="font-size: 4rem; color: lightseagreen">
                Recommendations</h1>
            <div class="text-center font-weight-light" style="font-size: 1.5rem; color: slategray">
                <p>View amazing places picked by our editor</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-between">
            {% for article in Recommendations %}
                <div class="col-4 mb-2">
                    <div class="card rounded-cus shadow">
                        <a class="attraction" style="background-image: url({{ article.image.url }}); display: block"></a>
                        <div class="card-body text-center">
                            <p class="font-weight-bold text-center" style="font-size: 1.5rem; line-height: 1rem">{{ article.title }}</p>
                            <hr>
                            <p>{{ article.short_description }}</p>
                            <a class="btn btn-success my-2" href="{% url 'recommendation_details' recommendation=article.recommendation_id %}">have a read</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid ">
        <div class="bg-transparent">
            <h1 class="font-weight-normal text-center mt-5" style="font-size: 4rem; color: lightseagreen">Trending
                Attractions</h1>
            <div class="text-center font-weight-light" style="font-size: 1.5rem; color: slategray">
                <p>Check the best place near you</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
            <div class="row justify-content-between">
                {% for place in Attractions %}
                    <div class="col-4 mb-2">
                        <div class="card rounded-cus shadow">
                            <a class="attraction" style="background-image: url({{place.image.url}}); display: block"></a>
                            <div class="card-body">
                                <p class="font-weight-bold text-center" style="font-size: 1.5rem; line-height: 1rem">{{place.name}}</p>
                                <hr>
                                <div class="row text-center">
                                    <div class="col">
                                        <p class=""><b>{{place.likes}}</b> people liked it</p>
                                        <p><b>{{place.dislikes}}</b> people disliked it</p>
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-success my-2" href="{% url 'attraction_details' attraction=place.attraction_id %}">see more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>



    <div class="container-fluid">
        <div class="bg-transparent">
            <h1 class="font-weight-normal text-center mt-5" style="font-size: 4rem; color: lightseagreen">Trending
                Attractions</h1>
            <div class="text-center font-weight-light" style="font-size: 1.5rem; color: slategray">
                <p>Check the best place near you</p>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-5">
            <div class="row justify-content-center">
                {% for city in Destinations %}
                    <div class="col-4 mb-2">
                        <div class="card rounded-cus shadow">
                            <a class="attraction" style="background-image: url({{city.image.url}}); display: block"></a>
                            <div class="card-body">
                                <p class="font-weight-bold text-center" style="font-size: 1.5rem; line-height: 1rem">{{city.name}}</p>
                                <hr>
                                <div class="row text-center">
                                    <div class="col">
                                        <p class=""><b>{{city.likes}}</b> people liked it</p>
                                        <p><b>{{city.dislikes}}</b> people disliked it</p>
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-success my-2" href="{% url 'destination_details' destination=city.destination_id %}">see more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>



    {% include 'footer.html' %}
    <script src = "{% static 'index.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</body>
</html>