<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Recommendation for royal botanic gardens</title>
  </head>
  <body>
   
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light shadow mb-3">
        <a id="logo" class="navbar-brand" href="{% url 'home' %}">Auspedition</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navb" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-3 active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="{% url 'destination_list' %}">Destination</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="{% url 'attraction_list' %}">Attraction</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 mx-3">
                <input class="form-control mr-sm-2 px-3" type="text" placeholder="Search...">
                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </form>
    
            <a href="#modalLogIn" data-toggle="modal" class="logIcon"> 
                <svg id="profileIcon" viewBox="0 0 16 16" class="bi bi-person-circle mx-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                </svg>
            </a>
        
            <!--  modal for log in -->
            <div class="modal fade" id="modalLogIn" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header myModal-header">
                            <h2 class="modal-title">Login Form</h2>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body myModal-body">
                            <form>
                                <!-- email -->
                                <div class="form-group">
                                    <label for="emailInput">Email address</label>
                                    <input class="form-control myModal-input" type="email" id="emailInput" placeholder="Enter email" required>
                                </div>
                                <!-- password -->
                                <div class="form-group">
                                    <label for="passwordInput">Password</label>
                                    <input class="form-control myModal-input" type="password" id="passwordInput" placeholder="Enter password" required>
                                </div>
                                
                                <div class="bottomBtns"”>
                                    <!-- button for log in -->
                                    <button type="submit" class="btn btn-success btn-lg btn-block">Log In</button>
                                    <!-- Go to sign up -->
                                    <a class="btn btn-outline-success btn-lg btn-block" href="#modalSignUp" data-toggle="modal" data-dismiss="modal" role="button">
                                        <span aria-hidden="true">Sign Up</span>
                                    </a>
                                </div>
                                
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <!--  modal for sign up -->
            <div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header myModal-header">
                            <h2 class="modal-title">Sign Up</h2>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body myModal-body">
                            <form class="needs-validation" novalidate>
                                <!-- username -->
                                <div class="form-group">
                                    <label for="nameInput">Username</label>
                                    <input class="form-control" type="text" id="nameInput" placeholder="Enter name" required>
                                </div>
                                <!-- email -->
                                <div class="form-group">
                                    <label for="emailInput">Email address</label>
                                    <input class="form-control" type="email" id="emailInput" placeholder="Enter email" required>
                                </div>
                                <!-- password -->
                                <div class="form-group">
                                    <label for="passwordInput">Password</label>
                                    <input class="form-control" type="password" id="passwordInput" placeholder="Enter password" required>
                                </div>
                                <!-- check password -->
                                <div class="form-group">
                                    <label for="passwordCheck">Confirm Password</label>
                                    <input class="form-control" type="password" id="passwordCheck" placeholder="Confirm password" required>
                                </div>
                                
                        
                                <!-- tickbox for terms and conditions -->
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">I accept the <a href="#">Terms of Use & Privacy Policy</a></label>
                                </div>
                                
                                <div class="bottomBtns"”>
                                    <!-- button for log in -->
                                    <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
                                    <!-- Go to sign up -->
                                    <a class="btn btn-outline-success btn-lg btn-block" href="#modalLogIn" data-toggle="modal" data-dismiss="modal">
                                        <span aria-hidden="true"><strong>Log In</strong></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Recommendation</li>
        </ol>
    </nav>

    <!-- Body -->
    <div class="container recommendation-cnt">
        <hgroup class="pageTitle">
            <h1 class="title" style="text-transform:uppercase;">Slow tour of royal botanic gardens</h1>
            <h5 class="title" style="text-transform:capitalize;">Slow down and feel the freshness</h5>
        </hgroup>

        <div class="row no-gutters bg-light position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
            <img class="img-fluid" id="recImg" src="assets/garden01.jpeg" class="mr-3" alt="No Picture">
            </div>
            <div class="col-md-6 position-static p-4 pl-md-0 align-self-center">
              <p>Slow down and explore the 'hidden map' of the area, reach out and touch the world-famous 'shell bricks', 
                wrap your hand around the back of the Opera House for a wider view of the harbour; visit the <a href="https://www.rbgsyd.nsw.gov.au/">'Royal 
                Botanic Gardens'</a>. "The Royal Botanic Gardens, walk to the famous "Mrs. Macquarie's Chair", turn on the 
                panoramic mode and see it from a distance. Elegance of the Opera House and Harbour Bridge.</p>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="container-fluid shadow-lg">
        <div class="row">
            <div class="col-4">
                <h1 class="display-2 mx-5 p-3" style="color: cadetblue">Austrip</h1>
            </div>
            <div class="col-4">
                <a class="nav-link text-success" href="home.html">Home</a>
                <a class="nav-link text-success" href="./destinations.html">Destination</a>
                <a class="nav-link text-success" href="#">Attraction</a>
                <a class="nav-link text-success" href="#">Restaurant</a>
            </div>
             <div class="col-4"></div>
        </div>
        <div class="row bg-light">
            <p class="mx-auto text-muted">@Copyright</p>
        </div>
    </footer>
           
            
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>